// about

#about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-method {
  display: inline;
  color: color(cinnabar);
}

.about-comment {
  color: #78707e;
}

.information {
  color: teal;
}

.this {
  color: red;
  display: inline;
}

.about-yellow {
  color: yellowgreen;
  display: inline;
}
#about {
  font-size: font-s(about);
}

.general {
  color: color(green-code);
}

.number {
  color: yellow;
}
span {
  color: whitesmoke;
}

.dot {
  color: #3b3553;
}

.font-white {
  color: whitesmoke;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}
