// about
#about {
  font-family: "Roboto Mono", monospace;
}

.about-method {
  display: inline;
  color: color(orange-1);
}

.about-comment {
  color: #78707e;
}

.information {
  color: teal;
}

.this {
  color: red;
  display: inline;
}

.about-yellow {
  color: yellowgreen;
  display: inline;
}
#about {
  font-size: font-s(about);
}

.about {
  padding-left: 130px;
  margin-top: 30px;
}

.general {
  color: color(green-code);
}

.number {
  color: yellow;
}
span {
  color: color(font-white);
}

.dot {
  color: #3b3553;
}

.font-white {
  color: color(font-white);
}
