//contact
.wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: font-s(contact);
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.find-me {
  font-size: 22.4px;
  color: whitesmoke;
  margin-top: 30px;
}

.btn {
  font-size: font-s(button);
  color: whitesmoke;
  margin-top: 20px;
}

.fa-1x {
  color: color(cinnabar);
}
a {
  color: whitesmoke;
}

.contact {
  background-color: color(bastille);
}

.email {
  color: whitesmoke;
}
