//contact
.wrap {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: font-s(contact);
}

footer {
  min-height: 560px;
}

.find-me {
  font-size: 22.4px;
}

.btn {
  font-size: font-s(button);
  color: white;
  margin-top: 20px;
}

.fa-1x {
  color: color(orange-1);
}

.contact {
  padding-left: 130px;
  margin-top: 30px;
}

footer {
  background-color: #0e0d10;
}
