/* Start */
.top-jumbotron {
  height: 100vh; /*vh = viewport height;*/
  background-color: color(dark-2);
}
.structure {
  position: relative;
  top: 48%;
  transform: perspective(1px) translateY(-50%);
  padding-left: 130px;
}

.name {
  color: color(orange-1);
}

.p1 {
  font-size: font-s(header);
  font-weight: font-w(bold);
}

.p2 {
  font-size: font-s(start-2);
}

.design {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}
