/* Work */
.card-img-top {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px black;
  -moz-box-shadow: -1px 9px 40px -12px black;
  box-shadow: 1px 9px 40px -12px black;
}

.card-title {
  font-size: font-s(work-topic);
}

.work {
  padding-top: 30px;
  padding-left: 130px;
}

.work2 {
  padding-left: 130px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  color: color(camouflage-green);
}
.card {
  background-color: color(camouflage-green);
}

.card-title {
  color: whitesmoke;
}

.card-text {
  color: whitesmoke;
}

.btn {
  background-color: color(cinnabar);
  border-color: color(cinnabar);
  color: whitesmoke;
}

.work-topic {
  font-size: 30px;
}

section.sec-work {
  height: 90vh;
  background: rgba(25, 23, 26, 0.6);
}
