@import "font";
$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

/* navbar */
.navbar {
  font-size: map-get($font-size, nav);
  font-weight: map-get($font-weight, bold);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* Start */
.jumbotron {
  height: 100vh; /*vh = viewport height;*/
}
.start {
  position: relative;
  top: 45%;
  transform: perspective(1px) translateY(-50%);
}

.name {
  color: orange;
}

.p1 {
  font-size: 38px;
  font-weight: 600;
}

.p2 {
  font-size: 24px;
}

.design {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

/* About {
  font-family: "Roboto Mono", monospace;
} */

/* Work */
.img-resize {
  height: 250px;
  width: auto;
}

.con1 {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;

  & .card {
    position: relative;

    & .face {
      width: 300px;
      height: 200px;
      transition: 0.5s;

      & .face1 {
        position: relative;
        display: flex;
        justify-content: center;
      }
    }
  }
}
/* About {
  font-family: "Roboto Mono", monospace;
} */
