@import "font";
$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

/* navbar */
.navbar {
  font-size: map-get($font-size, nav);
  font-weight: map-get($font-weight, bold);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* Start */
.jumbotron {
  height: 100vh; /*vh = viewport height;*/
}
.start {
  position: relative;
  top: 45%;
  transform: perspective(1px) translateY(-50%);
}

.name {
  color: orange;
}

.p1 {
  font-size: 38px;
  font-weight: 600;
}

.p2 {
  font-size: 24px;
}

.design {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

/* About {
  font-family: "Roboto Mono", monospace;
} */

/* Work */
.card-img-top {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px black;
  -moz-box-shadow: -1px 9px 40px -12px black;
  box-shadow: 1px 9px 40px -12px black;
}
/* About {
  font-family: "Roboto Mono", monospace;
} */
