@import "font";
@import "color";

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// structure
.min100vh {
  height: 100vh;
  min-height: 560px;
}
/* navbar */
.navbar {
  font-size: font-s(nav);
  font-weight: font-w(bold);
}

.bg-dark {
  background: linear-gradient(black 10%, #0000) !important;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: rgb(25, 23, 26);
  background: linear-gradient(
    180deg,
    rgba(25, 23, 26, 0.9) 83%,
    rgba(25, 23, 26, 1) 86%
  );
}

h4 {
  font-size: 16px;
}

@import "timeline";
@import "start";
@import "work";
@import "about";
@import "contact";
