* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.min100vh {
  height: 100vh;
  padding-bottom: 30px;
}

/* navbar */
.navbar {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-brand img {
  height: 3.5rem;
}

.bg-dark {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, black), to(#0000)) !important;
  background: linear-gradient(black 10%, #0000) !important;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #19171a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%, rgba(25, 23, 26, 0.97)), color-stop(85%, #19171a));
  background: linear-gradient(180deg, rgba(25, 23, 26, 0.97) 83%, #19171a 85%);
}

h4 {
  font-size: 16px;
}

.timeline {
  position: relative;
  width: 1000px;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 4500%;
  left: -30px;
  top: 13px;
  background: #e9322e;
}

.timeline.alt:before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 1750%;
  left: -30px;
  top: 13px;
  background: #e9322e;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline ul li:before {
  content: "";
  position: absolute;
  left: -34px;
  z-index: 10;
  width: 9px;
  height: 9px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid #e9322e;
  background-color: black;
}

/* Start */
.navbar-offset-top {
  padding-top: 70px;
  padding-bottom: 70px;
}

.structure {
  background-color: #19171a;
}

.p-title {
  font-size: 24px;
}

.margin-top {
  top: 50%;
}

.name {
  color: #e9322e;
}

.start-box {
  width: 1200px;
}

.p1 {
  font-size: 48px;
  font-weight: 600;
  color: whitesmoke;
}

.p2 {
  color: #959794;
}

.p3 {
  margin-bottom: 30px;
}

.design {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

.start {
  font-size: 24px;
  color: #959794;
}

/* Work */
section {
  background: rgba(25, 23, 26, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.card {
  cursor: pointer;
  width: 250px;
  height: 300px;
  background-color: rgba(25, 23, 26, 0.6);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.front img {
  height: 100%;
}

.front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  background: rgba(25, 23, 26, 0.6);
}

.back {
  background: #959794;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.back-content {
  color: #45433e;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.sm {
  margin: 20px 0;
}

.sm a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45433e;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.sm a:hover {
  background: #45433e;
  color: white;
}

.card:hover > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

h2 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
}

.p-title {
  font-weight: 600;
  font-size: 26px;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-method {
  display: inline;
  color: #e9322e;
}

.about-comment {
  color: #78707e;
}

.information {
  color: teal;
}

.this {
  color: red;
  display: inline;
}

.about-yellow {
  color: yellowgreen;
  display: inline;
}

#about {
  font-size: 16px;
}

.general {
  color: #24e33a;
}

.number {
  color: yellow;
}

span {
  color: whitesmoke;
}

.dot {
  color: #3b3553;
}

.font-white {
  color: whitesmoke;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 400px;
}

.find-me {
  font-size: 22.4px;
  color: whitesmoke;
  margin-top: 30px;
}

.btn {
  font-size: 20px;
  color: whitesmoke;
  margin-top: 20px;
  background: #e9322e;
  border: #e9322e;
}

.fa-1x {
  color: #e9322e;
}

a {
  color: whitesmoke;
}

.contact {
  background-color: #19171a;
}

.email {
  color: whitesmoke;
}
/*# sourceMappingURL=main.css.map */