<section class="sec-about">
  <div class="container about">
    <h4 id="about" class="p2 timeline">About /></h4>
  </div>
  <div class="container about font-mono">
    <div class="s1">
      <div class="about-method">class</div>
      <span class="about-yellow">Chanin Chinsukserm</span>
      <span>{</span>
    </div>
    <div class="s2">
      <div class="about-comment">
        <span class="dot">··</span>//I enjoy learning new technologies
      </div>
      <div class="about-comment">
        <span class="dot">··</span>//A long life learner :)
      </div>
    </div>

    <div class="s3">
      <div class="about-method"><span class="dot">····</span>information</div>
      <span>() {</span>
    </div>

    <div class="s4">
      <div class="this"><span class="dot">····</span>this</div>
      <span>.</span>
      <span class="information">name</span>
      <span class="this">=</span>
      <span class="general">"Chanin Chinsukserm"</span>
    </div>

    <div class="s5">
      <div class="this"><span class="dot">····</span>this</div>
      <span>.</span>
      <span class="information">dob</span>
      <span class="this">=</span>
      <span class="number">09041995</span>
    </div>

    <div class="s6">
      <div class="this"><span class="dot">····</span>this</div>
      <span>.</span>
      <span class="information">email</span>
      <span class="this">=</span>
      <span class="general">"sun.chanin@gmail.com"</span>
    </div>
    <div class="font-white"><span class="dot">··</span>}</div>

    <div class="s7">
      <div class="about-yellow"><span class="dot">··</span>workExperience</div>
      <span>() {</span>
    </div>

    <div class="s8">
      <div class="about-method"><span class="dot">····</span>return</div>
      <span>[</span>
    </div>

    <div class="s9">
      <span><span class="dot">······</span>{</span>
      <span class="general">"2017-2018"</span>
      <span>:</span>
      <span class="general">"Database Analyst @ DigitalAlchemy"</span>
      <span>}</span>
    </div>

    <div class="s10">
      <span><span class="dot">······</span>{</span>
      <span class="general">"2018-now"</span>
      <span>:</span>
      <span class="general">"Digital Marketing"</span>
      <span>}</span>
    </div>

    <div class="s11">
      <span><span class="dot">······</span>{</span>
      <span class="general">"2018-now"</span>
      <span>:</span>
      <span class="general">"Website Developer"</span>
      <span>}</span>
    </div>

    <div class="s12">
      <span><span class="dot">······</span>{</span>
      <span class="general">"2018-2019"</span>
      <span>:</span>
      <span class="general">"Business Development @ AdAsia"</span>
      <span>}</span>
      <div class="font-white"><span class="dot">····</span>]</div>
      <div class="font-white"><span class="dot">··</span>}</div>
    </div>

    <div class="s13">
      <div class="about-yellow"><span class="dot">··</span>education</div>
      <span>() {</span>
    </div>

    <div class="s14">
      <div class="about-method"><span class="dot">····</span>return</div>
      <span>[</span>
    </div>

    <div class="s15">
      <span><span class="dot">······</span>{</span>
      <span class="general">"2013-2017"</span>
      <span>:</span>
      <span class="general"
        >"B.S Management Technology @ Sirindhorn internation institude of
        technology"</span
      >
      <span>}</span>
      <div class="font-white"><span class="dot">····</span>]</div>
      <div class="font-white"><span class="dot">··</span>}</div>
    </div>

    <div class="s16">
      <div class="about-yellow"><span class="dot">··</span>skills</div>
      <span>() {</span>
    </div>

    <div class="s17">
      <div class="about-method"><span class="dot">····</span>return</div>
      <span>[</span>
      <span class="general"
        >"HTML5/CSS4/JS", "express", "nodeJS", "RESTful", "DOM", "npm",
        "mongoDB", "sass", "GCP", "IOT(arduino, ESP32, ESP8266)", "SQL",
        "NoSQL", "git/github", "and counting..."</span
      ><span>]</span>
      <div class="font-white"><span class="dot">··</span>}</div>
      <div class="font-white">}</div>
    </div>

    <!-- <p>class Sun</p>
  <p>Long life learner, expanding skills</p>
  <p>name = "Chanin Chinsukserm"</p>
  <p>DOB = "04091995"</p>
  <p>email = sun.chanin@gmail.com</p>
  <p>workExperience</p>
  <p>2017-2018: Database Analyst @ DigitalAlchemy</p>
  <p>2018-now: Digital Marketing</p>
  <p>2018-now: Website Developer</p>
  <p>2018-2019: Business Development @ AdAsia</p>
  <p>Education</p>
  <p>
    2013-2017: Management Technology @ Sirindhorn internation institude of
    technology
  </p>
  <p>
    skills: HTML5/CSS4/JS, express, nodeJS, RESTful, DOM, npm, mongoDB, sass,
    GCP, IOT(arduino, ESP32, ESP8266), SQL, NoSQL, git/github
  </p>
</div> -->
  </div>
</section>
