<p id="about">About /></p>
<p>class Sun</p>
<p>Long life learner, expanding skills</p>
<p>name = "Chanin Chinsukserm"</p>
<p>DOB = "04091995"</p>
<p>email = sun.chanin@gmail.com</p>
<p>workExperience</p>
<p>2017-2018: Database Analyst @ DigitalAlchemy</p>
<p>2018-now: Digital Marketing</p>
<p>2018-now: Website Developer</p>
<p>2018-2019: Business Development @ AdAsia</p>
<p>Education</p>
<p>
  2013-2017: Management Technology @ Sirindhorn internation institude of
  technology
</p>
<p>
  skills: HTML5/CSS4/JS, express, nodeJS, RESTful, DOM, npm, mongoDB, sass, GCP,
  IOT(arduino, ESP32, ESP8266), SQL, NoSQL, git/github
</p>
