<div class="container">
  <p>About /></p>
</div>
<div id="about" class="container min100vh">
  <div class="s1">
    <div class="about-method">class</div>
    <span class="about-yellow">Chanin Chinsukserm</span>
    {
  </div>
  <div class="s2">
    <div class="about-comment">··//I'm love learning new technologies</div>
    <div class="about-comment">··//A long life learner :)</div>
  </div>

  <div class="s3">
    <div class="about-method">····information</div>
    () {
  </div>

  <div class="s4">
    <div class="this">····this</div>
    .
    <span class="infomation">name</span>
    <span class="this">=</span>
    <span class="general">"Chanin Chinsukserm"</span>
  </div>

  <div class="s5">
    <div class="this">····this</div>
    .
    <span class="infomation">dob</span>
    <span class="this">=</span>
    <span class="general">09041995</span>
  </div>

  <div class="s6">
    <div class="this">····this</div>
    .
    <span class="infomation">email</span>
    <span class="this">=</span>
    <span class="general">"sun.chanin@gmail.com"</span>
  </div>
  <div>··}</div>

  <div class="s7">
    <div class="about-yellow">··workExperience</div>
    <span>() {</span>
  </div>

  <div class="s8">
    <div class="about-method">····return</div>
    <span>[</span>
  </div>

  <div class="s9">
    <span>······{</span>
    <span class="general">"2017-2018"</span>
    <span>:</span>
    <span class="general">"Database Analyst @ DigitalAlchemy"</span>
    <span>}</span>
  </div>

  <div class="s10">
    <span>······{</span>
    <span class="general">"2018-now"</span>
    <span>:</span>
    <span class="general">"Digital Marketing"</span>
    <span>}</span>
  </div>

  <div class="s11">
    <span>······{</span>
    <span class="general">"2018-now"</span>
    <span>:</span>
    <span class="general">"Website Developer"</span>
    <span>}</span>
  </div>

  <div class="s12">
    <span>······{</span>
    <span class="general">"2018-2019"</span>
    <span>:</span>
    <span class="general">"Business Development @ AdAsia"</span>
    <span>}</span>
    <div>····]</div>
    <div>··}</div>
  </div>

  <div class="s13">
    <div class="about-yellow">··education</div>
    <span>() {</span>
  </div>

  <div class="s14">
    <div class="about-method">····return</div>
    <span>[</span>
  </div>

  <div class="s15">
    <span>······{</span>
    <span class="general">"2013-2017"</span>
    <span>:</span>
    <span class="general"
      >"B.S Management Technology @ Sirindhorn internation institude of
      technology"</span
    >
    <span>}</span>
    <div>····]</div>
    <div>··}</div>
  </div>

  <div class="s16">
    <div class="about-yellow">··skills</div>
    <span>() {</span>
  </div>

  <div class="s17">
    <div class="about-method">····return</div>
    <span>[</span>
    <span class="general"
      >"HTML5/CSS4/JS", "express", "nodeJS", "RESTful", "DOM", "npm", "mongoDB",
      "sass", "GCP", "IOT(arduino, ESP32, ESP8266)", "SQL", "NoSQL",
      "git/github", "and counting..."</span
    ><span>]</span>
    <div>··}</div>
    <div>}</div>
  </div>

  <!-- <p>class Sun</p>
  <p>Long life learner, expanding skills</p>
  <p>name = "Chanin Chinsukserm"</p>
  <p>DOB = "04091995"</p>
  <p>email = sun.chanin@gmail.com</p>
  <p>workExperience</p>
  <p>2017-2018: Database Analyst @ DigitalAlchemy</p>
  <p>2018-now: Digital Marketing</p>
  <p>2018-now: Website Developer</p>
  <p>2018-2019: Business Development @ AdAsia</p>
  <p>Education</p>
  <p>
    2013-2017: Management Technology @ Sirindhorn internation institude of
    technology
  </p>
  <p>
    skills: HTML5/CSS4/JS, express, nodeJS, RESTful, DOM, npm, mongoDB, sass,
    GCP, IOT(arduino, ESP32, ESP8266), SQL, NoSQL, git/github
  </p>
</div> -->
</div>
