<footer id="contact" class="section-contact">
  <div class="container contact mr-5">
    <div class="">
      <div class="timeline alt">
        <ul>
          <li>
            <h4 class="p2">Contact /></h4>
          </li>
        </ul>
      </div>
      <h2 class="find-me">Find me on:</h2>
      <div class="wrap w-100 mb-3">
        <div>
          <a href="https://www.linkedin.com/in/chanin-chinsukserm-692a5b149/"
            ><i class="fab fa-linkedin-in fa-1x"></i> in/chanin.chinsukserm</a
          >
        </div>
        <div>
          <a href="https://github.com/angrychanin"
            ><i class="fab fa-github fa-1x"></i> github.com/angrychanin</a
          >
        </div>
        <div>
          <a
            ><i class="fas fa-comments fa-1x"></i>
            <span class="email">sun.chanin@gmail.com</span></a
          >
        </div>
      </div>

      <button type="button" class="btn btn-primary">GET IN TOUCH</button>
    </div>
  </div>
</footer>
