<div class="container-fluid min100vh">
  <div class="row w-100">
    <p id="contact">Contact /></p>
    <h2>Find me on:</h2>
    <a href="https://www.linkedin.com/in/chanin-chinsukserm-692a5b149/"
      ><i class="fab fa-linkedin-in"></i>in/chanin.chinsukserm</a
    >

    <a href="https://github.com/angrychanin"
      ><i class="fab fa-github"></i>github.com/angrychanin</a
    >

    <a><i class="fas fa-comments"></i>sun.chanin@gmail.com</a>
  </div>
</div>
