<section>
  <div class="container">
    <h4 class="p2">Work /></h4>
    <p class="p2 p-title">Projects</p>
    <div class="row justify-content-center">
      <div class="card middle">
        <div class="front">
          <img src="img.jpg" alt="" />
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>DarkCode</h2>
            <span>Youtube Channel</span>
            <div class="sm">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card middle">
        <div class="front">
          <img src="img.jpg" alt="" />
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>DarkCode</h2>
            <span>Youtube Channel</span>
            <div class="sm">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card middle">
        <div class="front">
          <img src="img.jpg" alt="" />
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>DarkCode</h2>
            <span>Youtube Channel</span>
            <div class="sm">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
