<!--
  <card data-image="https://i.ibb.co/kgj1YyD/NB-logo.png">
  <card data-image="https://i.ibb.co/q9xBNnn/pirom-logo.png">
  <card data-image="https://i.ibb.co/CVmp8yD/HV-Logo.png">
 -->
<div class="container">
  <p id="work">Work /></p>
  <div class="d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <img
        src="https://i.ibb.co/kgj1YyD/NB-logo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Pirom</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
        src="https://i.ibb.co/q9xBNnn/pirom-logo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Pirom</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
        src="https://i.ibb.co/CVmp8yD/HV-Logo.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Hello Vaclay</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</div>
