<p id="work">Work /></p>
<!-- <div id="app" class="container">
  <card data-image="https://i.ibb.co/kgj1YyD/NB-logo.png">
    <h1 slot="header">Canyons</h1>
    <p slot="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </card>
  <card data-image="https://i.ibb.co/q9xBNnn/pirom-logo.png">
    <h1 slot="header">Beaches</h1>
    <p slot="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </card>
  <card data-image="https://i.ibb.co/CVmp8yD/HV-Logo.png">
    <h1 slot="header">Trees</h1>
    <p slot="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </card>
</div> -->

<div class="card">
  <div class="card-image"></div>
  <div class="card-text">
    <span class="date">4 days ago</span>
    <h2>Post One</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus
      omnis illum maxime quod deserunt eligendi dolor
    </p>
  </div>
</div>
