<!--
  <card data-image="https://i.ibb.co/kgj1YyD/NB-logo.png">
  <card data-image="https://i.ibb.co/q9xBNnn/pirom-logo.png">
  <card data-image="https://i.ibb.co/CVmp8yD/HV-Logo.png">
 -->
<section class="sec-work">
  <div class="container">
    <h4 class="work p2 padding-left">Work /></h4>
    <p class="work2 padding-left  ">Projects</p>

    <!-- Project 1 -->
    <div class="blog-card">
      <div class="meta">
        <div
          class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"
        ></div>
        <ul class="details">
          <li class="author"><a href="#">Chanin Chinsukserm</a></li>
          <li class="tags">
            <ul>
              <li><a href="#">Learn</a></li>
              <li><a href="#">Code</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1 class="work-topic">Nan Boutique Hotel & Resort</h1>
        <p class="work-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum
          dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque
          ad aliquam facilis numquam. Veritatis, sit.
        </p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
    <!-- Project 2 -->
    <div class="blog-card alt">
      <div class="meta">
        <div
          class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"
        ></div>
        <ul class="details">
          <li class="author"><a href="#">Chanin Chinsukserm</a></li>
          <li class="tags">
            <ul>
              <li><a href="#">Learn</a></li>
              <li><a href="#">Code</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1 class="work-topic">Hellovaclay</h1>
        <p class="work-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum
          dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque
          ad aliquam facilis numquam. Veritatis, sit.
        </p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
    <!-- Project 3 -->
    <div class="blog-card">
      <div class="meta">
        <div
          class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"
        ></div>
        <ul class="details">
          <li class="author"><a href="#">Chanin Chinsukserm</a></li>
          <li class="tags">
            <ul>
              <li><a href="#">Learn</a></li>
              <li><a href="#">Code</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1 class="work-topic">Pirom Aged Care</h1>
        <p class="work-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum
          dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque
          ad aliquam facilis numquam. Veritatis, sit.
        </p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
</section>
