<section id="work">
  <div class="container mr-5">
    <h4 class="p2">Work /></h4>

    <p class="p2 p-title">Projects</p>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card middle mb-4 mr-4">
        <div class="front text-center">
          <img src="https://i.ibb.co/qMMtKGy/1.png" alt="" />
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>Nan Boutique Hotel</h2>
            <span>Accommodation</span>
            <div class="sm">
              <p>Visit Website</p>
              <a href="https://www.nanboutique.com/"
                ><i class="fas fa-globe"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card middle mb-4 mr-4">
        <div class="front text-center">
          <img src="https://i.ibb.co/WpqHWWR/2.png" alt="" />
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>Hello Vaclay</h2>
            <span>E-commerce</span>
            <div class="sm">
              <p>Visit Website</p>
              <a href="https://www.hellovaclay.com/"
                ><i class="fas fa-globe"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card middle mb-4 mr-4">
        <div class="front text-center">
          <img src="https://i.ibb.co/KqHLc1G/3.png" alt="" />
        </div>
        <div class="back">
          <div class="back-content middle">
            <h2>Pirom</h2>
            <span>Aged Care</span>

            <div class="sm">
              <p>Visit Website</p>
              <a href="https://www.nanboutique.com/pirom-eng"
                ><i class="fas fa-globe"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
